/* ? You can modify anything in Nuxt UI from here, uncomment the lines below this and test it out! */

/* @layer theme {
  :root {
    --ui-primary: #112c77;
  }
}

body {
  font-family: 'Manrope', sans-serif;
} */
